SUPABASE_KEY=""
SUPABASE_ACCESS_TOKEN=""

# Output from supabase setup
API_URL=""
S3_Storage_URL=""
Database_URL=""
Publishable_key=""
Secret_key=""
S3_Access_Key=""
S3_Secret_Key=""

# CLERK
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""